<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container py-5">
    <div class="row mb-12">
      <div class="col-lg-12">
      <center>
        <h2 class="display-12 font-weight-light">Notre équipe</h2>
        <p class="font-italic text-muted">100Code </p>
      </center> 
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-4 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Romuald Petit</h5><span class="small text-uppercase text-muted">Soon Developpeur</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/romuald-petit-b6a248222/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/RomualdPetit" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-4 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Lucas Derhore</h5><span class="small text-uppercase text-muted">Soon Developpeur</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/lucas-derhore-591549150/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/LucasDerhore" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-4 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Justin MBODJE</h5><span class="small text-uppercase text-muted">Soon Developpeur</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/justinmbodje/" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/justin-mbodje-881243222/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/Roronoha69" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-4 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Quentin Mainieri</h5><span class="small text-uppercase text-muted">Soon Developpeur</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/quentin-mainieri-12524a222/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/MainieriQuentin/" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-4 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Frédéric Coelho</h5><span class="small text-uppercase text-muted">Soon Developpeur</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/frederic-coelho-273a09211/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/freddybugs/" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      
      <!-- Team item-->
      <div class="col-xl-3 col-sm-4 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Valentin Derhore</h5><span class="small text-uppercase text-muted">Soon Developpeur</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/valentin-derhore-90b248222/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/DerhoreValentin/" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
                